:root {
    --bs-primary: #003399;
    --bs-primary-rgb: 0, 51, 153;
    --bs-link-color: #003399;
    --bs-link-hover-color: #001236;
    --bs-body-font-family: "Oswald", "Noto Sans TC", sans-serif;
}

body {
    background: #e7f6fc;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    font-family: "Oswald","Noto Sans TC", sans-serif;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}

.social-icons .social-icon:hover {
    background-color: #003399;
  }

h1, .h1 {
    margin-bottom: 1rem !important;
}

.subheading {
    font-family: "Inter", "Noto Sans TC", sans-serif;
    font-weight: 500;
}

p {
    font-size: 20px;
}

#interests .progress {
    margin: 1em 0;
}

.progress {
    --bs-progress-bar-bg: #003399;
}

